body{
    background-color: rgb(255, 227, 174);
}
.utama{
    width: 900px;
    margin: auto;
    background-color: burlywood;
}
nav{
    height: 43px;
    background-color: rgb(255, 242, 209);
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: rgb(245, 217, 140);
    color: #313131;
}
footer {
    background-color:#313131;
    padding: 10px;
}
footer .copy {
    color: honeydew;
    text-align: center;
    font-size: 12px;
}
/* form */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 2px solid #0039b3;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file],
select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 2px solid #0039b3;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #0039b3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
.divform {
    border-radius: 5px;
    padding: 20px;
}

.divform .tab {
    padding-left: 50px;
}